
    <div id="acordeon">
        <ul>
            <li>
            <h3><span class="icon-ap1 fa fa-edge"></span>Lenguajes</h3>
                <ul>
                    <li><a href="#">HTML</a></li>
                    <li><a href="#">JavaScript</a></li>
                    <li><a href="#">CSS</a></li>
                </ul>
            </li>
            <!-- we will keep this LI open by default -->
            <li class="active">
                <h3><span class="icon-ap2 fa fa-fort-awesome"></span>Estructura</h3>
                <ul>
                    <li><a href="#">Div contenedor</a></li>
                    <li><a href="#">Lista no ordenada</a></li>
                    <li><a href="#">Elementos de lista</a></li>
                    <li><a href="#">Lista ul interna</a></li>
                    <li><a href="#">Enlaces finales</a></li>
                </ul>
            </li>
            <li>
                <h3><span class="icon-ap3 fa fa-reddit-alien"></span>Apartado de enlaces</h3>
                <ul>
                    <li><a href="#">Primer enlace</a></li>
                    <li><a href="#">Enlace 2</a></li>
                    <li><a href="#">Tercera parte</a></li>
                    <li><a href="#">Sección 4</a></li>
                    <li><a href="#">Siguiente parte</a></li>
                    <li><a href="#">Enlace quinto</a></li>
                    <li><a href="#">Elemento 6</a></li>
                </ul>
            </li>
            <li>
                <h3><span class="icon-ap4 fa fa-rocket"></span>Lo hizo...</h3>
                <ul>
                    <li><a href="#">Sobre Jorge</a></li>
                    <li><a href="#">Mi trabajo</a></li>
                    <li><a href="#">Experiencia</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </li>
        </ul>
    </div>
